# Precompiled Headers
*.ipch

# Всякий ненужный мусор:
*.VC.*
*.suo
*.user
*.exp
*.aps
*.TMP

# Windows image file caches
Thumbs.db
ehthumbs.db

*.db*
*/*.db*
ArenaExtension/
gamedata_monolith/
gamedata_priboi/
bin*/
_appdata_/screenshots/steam_autocloud.vdf
_appdata_/savedgames/steam_autocloud.vdf
_appdata_/steam_autocloud.vdf
*.log
*.mdmp
